<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Login</title>
   
    <style>

</style>
</head>
<body>
   
  <div class="container">
    <h2 class="title">Login</h2>
  
    <div class="who">
        <button class="user" id="userid"><i class="fa-solid fa-user"></i> User</button>
        <button class="admin" id="adminid"><i class="fa-solid fa-user-tie"></i> Admin</button>
    </div>
    <form method="POST" class="form-container" >
      
      <div class="input-box email">
          <input type="text" name="username" required placeholder="E-mail" value="{{ username }}">
          <img src="https://cdn-icons-png.flaticon.com/512/6325/6325109.png" alt="user-image" width="25px">
      </div>
      <div class="input-box password">
          <input type="password" name="password" required placeholder="Password">
          <img src="https://cdn-icons-png.flaticon.com/512/2489/2489659.png" alt="lock-image" width="22px">
      </div>
      {% csrf_token %}
      {% if error %}
          <p style="color: red;text-align: left;font-size: 14px;margin-top: 5px;margin-left: 5px;"><b>{{ error }}</b></p>
      {% endif %}
      <div class="remember-forgot">
          <div class="forgot">
              <a href="{% url 'forget' %}">forgot Password ?</a>
          </div>
      </div>
      <div class="button">
          <button type="submit" class="login">Login</button>
      </div>
      <div class="register">
          <p>Don't you have an account ? <a href="{% url 'register' %}">Register</a></p>
      </div>
  </form>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        document.getElementById('userid').addEventListener('click', function() {
            window.location.href = '{% url "login" %}';
        });
        document.getElementById('adminid').addEventListener('click', function() {
            window.location.href = '{% url "adminlogin" %}';
        });
    });
</script>

   
</body>
</html>